[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_F485CD7D4E4B333448202020FF0A1412-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 21.953 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2

#[safe_z_home]
#home_xy_position: 107.5, 90 # update for your machine
#z_hop: 3